<div class="container my-4 mx-4">
    <h5>Editor name: <span class="text-success display-8">{{editorName}}</span></h5>
    <br>
    <h5>Article title</h5>
    <p class="lead pl-2">{{title}}</p>
     <br>
    <h5>Category: <span class="text-success display-8">{{category}}</span></h5>
     <br>
    <h5>Rejected reason</h5>
    <p class="lead pl-2">{{rejectedReason}}</p>

    <br>
    <a name="" id="" class="btn btn-primary btn-sm" href="/writer/edit?id={{id}}"
        role="button" title="Edit article">
        <i class="fa fa-pencil" aria-hidden="true">Edit article</i>
    </a>
</div>